body{
    font-family: sans-serif;
}
.container{
    width: 40%;
    margin: 50px auto;
    border: 4px solid black;
    padding: 30px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    background-color: #ffd966;
    padding: 5px 10px ;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 2px black;
}